* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a0a0a;
  font-family: "Segoe UI", sans-serif;
}

a {
  text-decoration: none;
}

@media (max-width: 768px) {
  div[style*="flex"] {
    flex-direction: column;
  }

  img[style*="300px"] {
    width: 100% !important;
  }
}
